/build/
/.config
/.config.*
/.unikraft/
/workdir/
.cache/clangd/index
.fd
app-elfloader.cmdl
app-nginx.cmdl
compile_commands.json
fs0.cpio
kernel.iso
stdout.log
.cache/clangd/index
fs0
example/helloworld/helloworld
example/helloworld/helloworld.o
example/helloworld/helloworld_static
fs0.fd
kernel.fd
